/node_modules
/modules/Web/Resources/Assets
/public/storage
/public/skote
/public/saves
/storage/*.key
/vendor
/web/resources/asset
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.composer.lock
